<style>
/*.events-table{
  max-height: 375px;
  overflow-y: scroll;
}
.events-table .event-title{
  max-width: 300px;
  overflow: elipsis;
}*/
.event-title{
  max-width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
</style>


    <div class="events-table table-responsive">
      <table class=" table table-striped table-bordered table-condensed">
        {{#sortByDate events direction="descending"}}
        {{#each this}}
        <tr data-id="{{id}}">
          <td>
            <a href="/delete-event?id={{id}}"
            id="{{id}}" type="button" class="btn btn-default btn-xs delete-event-btn"
            data-dateStart="{{dateStart}}">
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            </a>
          </td>

          <td class="event-title" scope="row">{{title}}</td>

          <td>{{timeStart}} on {{dateStart}}</td>
          <!-- <td>{{timeStart}} on {{dateStart}}</td> -->
          <td>
            <a href="/manage-events?id={{id}}" id="{{id}}" type="button" class="btn btn-default btn-xs">
              <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
            </a>
          </td>

        </tr>
        {{/each}}
        {{/sortByDate}}
      </table>
</div>