
<form class="form-module form-horizontal" action="http://127.0.0.1:1337/manage-events/submit" method="post">

<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-xs-6">
        <p class="panel-title">{{editingEvent}}</strong> Event Properties</p>
      </div>
      <div class="col-xs-6">
        {{> form-buttons}}
      </div>
    </div>
  </div>
  <div class="panel-body scroll-box">



  {{#each addEvent}}

  {{#if_eq type "private"}}
  <input type="text" class="form-control private" id="{{@key}}" name="{{@key}}" value="{{value}}"/>
  {{else}}

  {{#if_eq type "formatting"}}

  {{#if_eq wrapper "start"}}
  <div class="panel panel-success">
    {{#if label}}<div class="panel-heading">{{label}}</div>{{/if}}
    <div class="panel-body">

      {{else}}

    </div>
  </div>
  {{/if_eq}}

  {{else}}

  {{#if label}}
  <div class="form-group {{@key}}">
    <label for="{{@index}}" class="control-label">{{label}}{{#if required}}<span class="req"> *</span>{{/if}}
      <!-- {{#if url}}
      <a href="{{value}}" type="button" class="btn btn-default btn-xs" target="_blank">
      <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
    </a>
    {{/if}} -->
  </label>
  <div class="control-item">
    {{#if_eq element "input"}}
    <input type="{{type}}" class="form-control" id="{{@key}}" name="{{@key}}" value="{{#if value}}{{value}}{{/if}}" {{#if required}}required{{/if}}/>
    {{/if_eq}}
    {{#if_eq element "textarea"}}
    <textarea class="form-control" id="{{@key}}" name="{{@key}}">{{#if value}}{{value}}{{/if}}</textarea>
    {{/if_eq}}
  </div>
</div>
{{/if}}

{{/if_eq}}

{{/if_eq}}



{{/each}}


{{> form-buttons}}





</div>
</div>
</form>
